*{
    font-family: fantasy;
  }
  
  table { 
    width: 50%;
    margin: auto; 
    border-collapse: collapse;
    
  }
  
  td {

    height: 38px;
    width: 55px;
    border: 2px solid black
  }

.yellow {
background-color: yellow;

}

.black {
background-color: black;

}

.blue {
background-color: blue;

}

.grey {
background-color: grey;

}

.green {background-color: green;


}