*{ text-align: center;
  
}

.content {
    background-color: goldenrod;
    width: 50%;
    min-height: 500px;
    margin: auto;
}


header{
    height: 150px;
    background-color: chartreuse;
}

nav {
    height: 100px;
    background-color: black;
}

main::selection:first-child{
    background-color: 
  }
   @media screen and (max-width: 1200px) {
    
    text-align: left:

  }
    .content {
      background-color: rgb(42, 115, 139);
      width: 100%;
  }
   
    @media screen and (max-width: 750px) {
    .content {
      background-color: lightblue;
      width: 80%;
      
    }

    header{
        height: 80%;
    }

  }
  @media screen and (max-width: 500px) {
    .content {
      background-color: rgb(39, 50, 54);

    }
  }
  @media screen and (max-width: 500px) {
    .content {
      background-color: rgb(213, 230, 173);

    }
  }