*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    width: 50%;  
    margin: auto; 
    border-collapse: collapse;
    border: 3px #910 solid;
}

td {
border:2px rgb(53, 22, 17) inset;
background-color: aquamarine;
}

tr {
background-color: rgb(82, 51, 122);

}