* {
    text-align: center;
    font-family: cursive;
    margin: 0px;
    padding: 0px;
  }
  
  /* Global */
  
  .content {
    background-color: orange;
    width: 1200px  ;
    min-height: 500px;
    margin: auto;
  }
  
  /* ****** HEADER ****** */
  
  header,footer {
    height: 80px;
    color: rgb(250, 234, 213);
    background-color:rgb(207, 163, 163);
    padding-top: 10px;
  }
  
  /* ****** FIN HEADER ****** */
  
  nav {
    height: 100px;
    background-color: rgb(189, 154, 0);
  }
  
  main section:first-child {
    background-color: red;
    height: 500px;
    border: 20px solid;
  }
  
  main section:nth-child(2) {
    background-color: blue;
    height: 30px;
  }
  
  main section:last-child {
    padding: 30px;
    border: 1px solid blue;
  }
  
  footer {
    background-color: blueviolet;
    height: 80px;
  }
  
  /* FIN Global */
  
  @media screen and (max-width: 1200px) {
    * {
      text-align:center;
    }
    .content {
      background-color: rgb(11, 106, 46);
      width: 100%;
    }
    header {
      background-color: yellow;
    }
  }
  
  @media screen and (max-width: 750px) {
    .content {
      background-color: lightblue;
      width: 80%;
    }
    header {
      height: 80px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .content {
      background-color: lightblue;
    }
    main section:first-child {
      background-color: purple;
    }
    main section:last-child {
      font-size: 24px;
    }
  }